ErrorDocument 404 /404.html
ErrorDocument 403 /404.html
DirectoryIndex index.html

<IfModule mod_expires.c>
	<FilesMatch "\.(ico|jpe?g|png|gif|css|eot|svg|svgz|ttf|woff)$">
		ExpiresDefault "access plus 1 month"
	</FilesMatch>
	<FilesMatch "\.(js|html)$">
		ExpiresDefault "access plus 1 day"
	</FilesMatch>
</IfModule>

<IfModule mod_headers.c>
	FileETag None
    Header unset ETag
    <FilesMatch "crossd_iframe\.html$">
		Header unset X-Frame-Options
	</FilesMatch>
	<FilesMatch "\.(ico|jpe?g|png|gif|css|eot|svg|svgz|ttf|woff)$">
		Header set Cache-Control "public, s-maxage=2592000, max-age=2592000"
	</FilesMatch>
	<FilesMatch "\.(js|html)$">
		Header set Cache-Control "public, s-maxage=2592000, max-age=86400"
	</FilesMatch>
</IfModule>

RewriteEngine on

RewriteCond %{HTTPS} =on
RewriteRule ^(.*)$ - [env=proto:https]
RewriteCond %{HTTPS} !=on
RewriteRule ^(.*)$ - [env=proto:http]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{HTTP:Accept-Language} (fr) [NC]
RewriteRule ^(.*)$ %{ENV:proto}://fr-fr.%{HTTP_HOST}/$1 [L,R=301]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{HTTP:Accept-Language} (aa|ab|af|am|ar|as|ay|az|ba|be|bg|bh|bi|bn|bo|br|ca|co|cs|cy|da|de|dz|el|en|eo|es|et|eu|fa|fi|fj|fo|fy|ga|gd|gl|gn|gu|ha|hi|hr|hu|hy|ia|ie|ik|in|is|it|iw|ja|ji|jw|ka|kk|kl|km|kn|ko|ks|ku|ky|la|ln|lo|lt|lv|mg|mi|mk|ml|mn|mo|mr|ms|mt|my|na|ne|nl|no|oc|om|or|pa|pl|ps|pt|qu|rm|rn|ro|ru|rw|sa|sd|sg|sh|si|sk|sl|sm|sn|so|sq|sr|ss|st|su|sv|sw|ta|te|tg|th|ti|tk|tl|tn|to|tr|ts|tt|tw|uk|ur|uz|vi|vo|wo|xh|yo|zh|zu) [NC]
RewriteRule ^(.*)$ %{ENV:proto}://en-us.%{HTTP_HOST}/$1 [L,R=301]