#############
## Windows detritus
#############

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Mac crap
.DS_Store

#Build
build/

#PHPStorm
.idea/

# Node
node_modules/
.npm
npm-debug.log

#Config
config/config.json

#vhosts
vhosts.conf
*.local.crt
*.local.key