@white: #FFF;
@white-transparent: rgba(255,255,255,0.6);
@grey: #CCC;
@green: #2B9D48;
@darkgreen: darken(@green, 20%);
@lightgreen: darken(@green, -20%);

@import 'bootstrap.less';

@font-face {
	font-family: "harlequinflfregular";
	src:url('../fonts/harlequinflf-webfont.eot');
	src:url('../fonts/harlequinflf-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/harlequinflf-webfont.woff') format('woff'),
	url('../fonts/harlequinflf-webfont.ttf') format('truetype'),
	url('../fonts/harlequinflf-webfont.svg#RanchoRegular') format('svg');
	font-style: 		normal;
	font-weight:		400;
}

::selection {
	background: @lightgreen;
}

html, body {
	height: 100%;
	margin: 0;
	padding: 0;
	background-color: @white;
}
header {
	color: @white;

	h1.logo {
		font-family: 'harlequinflfregular';
		text-transform: uppercase;
		height: 75px;
		background: @green url('../img/logo-75.png') top left no-repeat;
		padding-left: 75px;
		padding-top: 16px;
	}

	nav {
		position: relative;
		top: -75px;
		right: 0.5rem;

		a {
			color: @white;
		}
	}
}
#sb-site {
	height: 100%;
}
#map {
	height: 100%;
}
#menu {
	position: absolute;
	top: 1em;
	left: 1em;
	z-index: 100;
	background-color: @white-transparent;
	padding: 0.3em;
	border: 1px solid @grey;
	border-radius: 0.3em;
	cursor: pointer;
}
.sb-slidebar {
	background-color: @white;
	border-right: 2px solid @grey;

	.tab-content {
		padding: 0.3em;
	}

	footer {
		position: fixed;
		bottom: 0;
		width: 100%;
	}
}