/*Note : 1rem => 16px*/

@white: #FFF;
@white-transparent: rgba(255, 255, 255, 0.6);
@lighter-grey: #F1F1F1;
@lighter-grey-selected: #E3E3E3;
@grey: #CCC;
@light-grey: #999;
@dark-grey: #8A8A92;
@darken-grey: #333;
@green: #2B9D48;
@greener: darken(@green, 5%);
@dark-green: darken(@green, 20%);
@light-green: lighten(@green, 20%);
@brown: #713011;
@red: #D21010;
@yellow: #CAC537;

@import 'bootstrap.less';
@import 'slidebars.less';
@import 'loader.less';
@import 'map.less';
@import 'datepicker.less';
@import 'dropzone.less';
@import 'wouaf.less';
@import 'user.less';
@import 'comments.less';
@import 'menu.less';
@import 'tabs.less';
@import 'search.less';

@font-face {
	font-family: "harlequinflfregular";
	src: url('../fonts/harlequinflf-webfont.eot');
	src: url('../fonts/harlequinflf-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/harlequinflf-webfont.woff') format('woff'),
	url('../fonts/harlequinflf-webfont.ttf') format('truetype'),
	url('../fonts/harlequinflf-webfont.svg#RanchoRegular') format('svg');
	font-style: normal;
	font-weight: 400;
}

::selection {
	background: @light-green;
}

html, body {
	height: 100%;
	margin: 0;
	padding: 0;
	background-color: @white;
}

#page-content {
	position: absolute;
	top: -9999px;
	left: -9999px;
}

#sb-site, #map {
	height: 100%;
}

#menu {
	position: absolute;
	top: 1rem;
	left: 1rem;
	z-index: 100;
	background-color: @green;
	padding: 0.3rem;
	border: 1px solid @grey;
	border-radius: 0.3rem;
	cursor: pointer;
	color: @white;
}
#add-zone {
	position: absolute;
	z-index: 2;

	.add-btn {
		/*background-color: @green;
		border: 1px solid @grey;
		border-radius: 50%;
		cursor: pointer;

		div {
			background-color: @white;
			position: absolute;
		}*/

		background-color: white;
		border-radius: 50%;
		cursor: pointer;
		color: @green;
		font-size: 3.5rem;
		line-height: 3.5rem;
		width: 3.5rem;
		height: 3.5rem;
		text-align: center;
	}
	.location {
		padding: .3rem 1rem;
		height: 52px;

		i {
			font-size: 1.5rem;
		}
	}
}

#toast {
	position: absolute;
	max-width: 100%;
	width: 100%;
	top: 20%;
	z-index: 10000;
	pointer-events: none;
	user-select: none;

	> div {
		background-color: @white;
		border: 0.2em solid @green;
		border-radius: 0.5em;
		text-align: center;
		margin: 0 auto;
		padding: 0.3rem;

		> p {
			pointer-events: all;
			margin-bottom: 0;
			user-select: none;
		}
	}
}

#modalWindow {
	.modal-header {
		color: @white;
		background: @green url('../img/logo-72.png') 0.25rem 0.2rem no-repeat;
		background-size: contain;
		padding: 1rem 1rem 1rem 4rem;
	}
	.modal-title {
		font-family: 'harlequinflfregular';
		line-height: 1.1;
	}
	h4.wouaf-it {
		background: url('../img/logo-72.png') no-repeat;
		background-size: contain;
		padding-left: 1.8rem;
	}
}

.help {
	cursor: pointer;
	color: @green;

	&:hover {
		color: @dark-green;
	}
}

.sb-slidebar {
	background-color: @white;
	border-right: 0.125rem solid @grey;

	.tab-content {
		padding: 0.3em;
	}

	header {
		color: @white;
		background-color: @green;
		margin-bottom: 0.1rem;
		border-bottom: 1px solid @greener;

		h1.logo {
			font-family: 'harlequinflfregular';
			text-transform: uppercase;
			height: 4.6875rem;
			background: url('../img/logo-72.png') 0.25rem 0.2rem no-repeat;
			padding-left: 4.6875rem;
			padding-top: 1.25rem;
			margin-bottom: 0;
			font-size: 2.3rem;
		}
		h2.description {
			font-size: 1rem;
			margin-left: 4.6875rem;
			margin-top: -1.1rem;
			margin-bottom: 0;
		}

		nav {
			position: absolute;
			right: 0.5rem;
			z-index: 2;

			a, .btn-link {
				color: @white;

				&:focus, &:hover, &:active {
					color: @dark-green;
					text-decoration: none;
				}
			}
			.btn-link {
				padding: 0;
			}
			.user-profile {
				img {
					vertical-align: sub;
				}
			}
		}
	}

	> div.container {
		min-height: ~"calc(100% - 98px)";
	}

	footer {
		height: 1.25rem;
		width: 100%;
		background-color: @grey;
		color: @green;
	}
}
.fa-angle-double-right,
.fa-angle-double-left {
	font-weight: bold;
}

@import 'responsive.less';