.baseMarker {
	border-radius: 50% 50% 50% 0;
	background-color: @brown;
	position: absolute;
	transform: rotate(-45deg);
	text-align: center;
	border: 1px solid @darken-grey;
	cursor: pointer;
	&::before {
		content: '';
		width: 80%;
		height: 80%;
		margin: 10%;
		background: url('../img/cat/0.png') top left no-repeat;
		background-size: contain;
		position: absolute;
		transform: rotate(45deg);
		top: 0;
		left: 0;
	}
	p {
		transform: rotate(45deg);
		font-weight: bold;
		color: @white;
		margin: 0;
		padding: 0;
	}
}

.markerCluster {
	border-radius: 50%;
	border: 3px solid rgba(255, 255, 255, 0.5);
	&::before {
		border-radius: 50%;
		background-color: rgba(33, 33, 33, 0.4);
		border: 1px solid rgba(33, 33, 33, 0.7);
	}
}

.markerShadow {
	background-color: rgba(0, 0, 0, 0.2);
	border-radius: 50%;
	height: 14px;
	width: 14px;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: rotateX(55deg);
	z-index: -2;
}

.marker1 {
	&::before {
		background-image: url('../img/cat/1.png');
	}
}

.marker2 {
	&::before {
		background-image: url('../img/cat/2.png');
	}
}

.marker3 {
	&::before {
		background-image: url('../img/cat/3.png');
	}
}

.marker4 {
	&::before {
		background-image: url('../img/cat/4.png');
	}
}

.marker5 {
	&::before {
		background-image: url('../img/cat/5.png');
	}
}

.marker6 {
	&:before {
		background-image: url('../img/cat/6.png');
	}
}

.marker7 {
	&:before {
		background-image: url('../img/cat/7.png');
	}
}

.pulseMarker {
	background-color: @green;
	border-radius: 50%;
	height: 14px;
	width: 14px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin: 11px 0 0 -12px;
	transform: rotateX(55deg);
	z-index: -2;
	&::after {
		content: "";
		border-radius: 50%;
		height: 40px;
		width: 40px;
		position: absolute;
		margin: -13px 0 0 -13px;
		animation: pulsate 1s ease-out;
		animation-iteration-count: infinite;
		opacity: 0.0;
		box-shadow: 0 0 1px 2px @darken-grey;
		animation-delay: 1.1s;
	}
}

@keyframes pulsate {
	0% {
		transform: scale(0.1, 0.1);
		opacity: 0.0;
	}
	50% {
		opacity: 1.0;
	}
	100% {
		transform: scale(1.2, 1.2);
		opacity: 0;
	}
}
/*http://en.marnoto.com/2014/09/5-formas-de-personalizar-infowindow.html*/
.gm-style-iw {
	width: 330px !important;
	top: 15px !important;
	left: 0 !important;
	background-color: #fff;
	box-shadow: 0 1px 6px fade(@dark-grey, 60%);
	border-radius: 2px 2px 10px 10px;

	> div {
		width: 330px !important;
		max-width: 330px !important;
	}
}
.gm-iw-parent {
	width: 330px !important;
}
.gm-iw-gparent {
	left: -20px !important;
}
.gm-iw-bg {
	left: 20px !important;
}
.gm-iw-close-btn {
	opacity: 1;
	border: 4px solid @light-green;
	border-radius: 13px;
	box-shadow: 0 0 5px @green;
	width: 21px !important;
	height: 21px !important;
	top: 6px !important;
	right: -10px !important;
}
#iw-container {
	margin-bottom: 10px;

	.iw-title {
		font-family: 'harlequinflfregular';
		font-size: 1rem;
		padding: 10px;
		background-color: @green;
		color: @white;
		margin: 0;
		border-radius: 2px 2px 0 0;
	}
	.iw-content {
		line-height: 1.1rem;
		font-weight: 400;
		margin-right: 1px;
		padding: 10px 5px 15px 10px;
		max-height: 160px;
		overflow-y: auto;
		overflow-x: hidden;
	}
}
.iw-content {
	img {
		float: right;
		margin: 0 5px 5px 10px;
	}
}
.iw-subTitle {
	font-size: 16px;
	font-weight: 700;
	padding: 5px 0;
}
.iw-bottom-gradient {
	position: absolute;
	width: 326px;
	height: 25px;
	bottom: 10px;
	right: 18px;
	background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
}
.iw-tail {
	box-shadow: fade(@dark-grey, 60%) 0 1px 6px !important;
	z-index: 1;
}


