.baseMarker {
	border:1px solid black;
	position: absolute;
	text-align:center;
	margin: 0px;
	padding: 0px;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	border-radius: 100%;
	z-index: 1;
}