.w-menu {
	margin-right: -6px;
	position: relative;
	float: right;
	border: 0;
	background-color: fade(@white, 50%);
	color: @green;
	top: -2px;
	font-size: 0.8125rem;
}
.w-menu-dropdown {
	position: absolute;
	display: block;
	font-size: 0.9rem;
}
.link {
	display: inline-block;
	width: 90%;
	padding: 0 .3rem;
	font-size: 0.8rem;
}