@media (max-width: 480px) {
	body {
		font-size: 0.9rem;
	}
	.btn {
		font-size: 0.9rem;
	}
	/* widths on extra small screens. */
	#toast > div {
		width: 100%;
	}

	.gm-style-iw {
		width: 100% !important;

		> div {
			width: 100% !important;
			max-width: 100% !important;
		}
	}
	.gm-iw-parent {
		width: 90% !important;
	}
	header {
		nav {
			.account-name {
				max-width: 100px;
				overflow: hidden;
				display: inline-block;
				height: 20px;
				vertical-align: -3px;
			}
		}
	}
	#add-zone {
		right: 0.5rem;
		bottom: 1.5rem;

		.add-btn {
			width: 2.5rem;
			height: 2.5rem;
			font-size: 3rem;
			line-height: 2.6rem;
		}
	}
	.modal-body {
		padding: 10px;
	}
	.modal-title {
		font-size: 1.2rem;
	}
}

@media (min-width: 481px) {
	/* widths on small screens. */
	#toast > div {
		width: 20rem;
	}
	#add-zone {
		right: 0.5rem;
		bottom: 1.5rem;

		.add-btn {
			width: 2.5rem;
			height: 2.5rem;
			font-size: 3rem;
			line-height: 2.6rem;
		}
	}
}

@media (min-width: 768px) {
	/* widths on medium screens. */
	#add-zone {
		right: 2.5rem;
		bottom: 2.5rem;

		.add-btn {
			width: 3rem;
			height: 3rem;
			font-size: 3.5rem;
			line-height: 3rem;
		}
	}
}

@media (min-width: 992px) {
	/* widths on large screens. */

}

@media (min-width: 1200px) {
	/* widths on extra large screens. */

}