.tab-pane {
	>.row {
		overflow-y: auto;
	}
	.w-container {
		cursor: pointer;
		border-bottom: 2px solid @white;

		.w-title {
			border-radius: 0;
			font-size: 0.85rem;

			&:hover, &.selected {
				background-color: @lighter-grey-selected;
			}

			.w-comments {
				display: block;
			}
		}
	}
	.w-menu, .w-search {
		margin-right: 0;
	}
	.tab-head {
		p.lead {
			margin-bottom: 0.1rem;
		}
	}
	&.scrollable {
		overflow-y: auto;
		margin-left: -15px;
		margin-right: -15px;

		.row {
			margin-left: 0;
			margin-right: 0;
		}
	}
}
.nav-tabs {
	.dropdown-item {
		padding-right: 10px;

		button.close {
			margin-left: 0.5rem;
		}
	}
	.nav-item {
		button.close {
			float: none;
			line-height: 0.5;
		}
		.dropdown-toggle::after {
			margin-right: 0;
			margin-left: .5rem;
		}
	}

}
