.tab-pane {
	.w-container {
		cursor: pointer;
		border-bottom: 2px solid @white;

		.w-title {
			border-radius: 0;
			font-size: 0.85rem;

			&:hover, &.selected {
				background-color: @lighter-grey-selected;
			}

			.w-comments {
				display: block;
			}
		}
	}
	.w-menu {
		margin-right: 0;
	}
}
