.tab-pane {
	.w-container {
		cursor: pointer;
		border-bottom: 1px solid @white;

		.w-title {
			border-radius: 0;
			font-size: 0.85rem;

			&:hover {
				-webkit-filter: brightness(85%);
				filter: brightness(85%);
			}
		}
	}
}
