.w-container {
	clear: both;

	a:hover, a:active {
		text-decoration: none;
	}
	.w-title {
		font-weight: bold;
		font-size: 0.8rem;
		padding: 0.4rem 0.6rem;
		background-color: @lighter-grey;
		margin: 0;
		border-radius: 2px 2px 0 0;
		line-height: 1.8;
		border-left: 5px solid @green;
		position: relative;

		&.panel-title {
			cursor: pointer;
		}

		.w-comments {
			display: none;
			color: @green;
			position: absolute;
			right: 4px;
			bottom: 1px;
		}

		.gravatar {
			float: right;
		}
	}
	.w-content {
		line-height: 1.1rem;
		font-weight: 400;
		margin-right: 1px;
		padding: 0.4rem 0.6rem 0.2rem 0.6rem;
	}
	.w-comments {
		float: right;
		margin-bottom: 5px;
	}
	.w-green {
		color: @green;
	}
	.w-red {
		color: @red;
	}
	.w-yellow {
		color: @yellow;
	}
	.w-subTitle {
		font-size: 0.8rem;
		font-weight: 700;
		padding: 0 0 5px 0;
	}
	.w-pics {
		display: flex;
		flex-flow: row wrap;
		justify-content: space-around;
		margin-bottom: 5px;

		img {
			margin: 0 3px;
			box-shadow: 0 1px 6px fade(@dark-grey, 90%);
		}
		a:hover img {
			box-shadow: 0 1px 10px @dark-grey;
		}
	}

	.w-details {
		font-weight: normal;
		font-size: 0.8rem;
		line-height: 1.2;
		padding-bottom: 0.2rem;

		span {
			font-weight: bold;
		}
	}
	.w-cat {
		background: url('../img/cat/0.png') top left no-repeat;
		background-size: 1.4rem;
		text-indent: 1.6rem;
	}
	.wouaf-backgrounds(8);
	.wouaf-backgrounds(@n, @i: 1) when (@i =< @n) {
		.w-cat@{i} {
			background-image: url('../img/cat/@{i}.png');
		}
		.wouaf-backgrounds(@n, (@i + 1));
	}
}
.w-accordion {
	max-height: 400px;
	overflow-y: auto;
	margin-bottom: -4px;

	.w-container {
		border-bottom: 1px solid @white;

		&:last-child {
			border-bottom: none;
		}

		.w-title {
			&:hover {
				background-color: @lighter-grey-selected;
			}
			.w-comments {
				display: block;
			}
		}
	}
	.panel:not(:first-child) .w-title {
		border-radius: 0;
	}
	.panel:last-child .w-title.collapsed {
		border-radius: 0 0 10px 10px;
	}
}
.w-more {
	padding: 6px 0 0 0;
	margin-bottom: -12px;
}
#swipebox-bottom-bar, #swipebox-top-bar {
	background: @green;
}
#swipebox-close {
	border: 0.25rem solid @light-green !important;
	border-radius: 1.6rem;
	box-shadow: 0 0 15px 6px @green;
	background-color: fade(@white, 20%);
	background-position: 6px 2px;
	width: 38px;
	height: 38px;
	top: 10px;
}