ErrorDocument 404 /404.html
ErrorDocument 403 /403.html
DirectoryIndex	index.php

<IfModule mod_headers.c>
	<FilesMatch "\\.(ico|jpe?g|png|gif|css|js|html|eot|svg|svgz|ttf|woff)$">
		Header set Cache-Control "public, s-maxage=86400, max-age=300"
	</FilesMatch>
</IfModule>

RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ index.php?%{QUERY_STRING} [L]

